/* health & earth 페이지 pc 스타일 코드 */
/* 기본 리셋 및 폰트 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", Arial, "Apple SD Gothic Neo", "Noto Sans Regular",
    "맑은 고딕", "malgun gothic", "돋움", "dotum", sans-serif;
  line-height: 1.6;
  color: #211d1d;
  letter-spacing: -0.2px;
}

/* pc 에서 줄바꿈하는거  */
.pc-br::after {
  content: "\A"; /* 줄바꿈 */
  white-space: pre; /* 줄바꿈 인식 */
  display: inline; /* 인라인으로 변경하여 줄 간격 조정 */
}
/* pc 에서 줄바꿈하는거  */
.mo-br::after {
  display: none;
}

/* 히어로 섹션 */
.hero_section {
  position: relative;
  height: 1100px;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/custom/health/images/main_banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero_content {
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 33px;
}

/* 맨위로고 */
.main_logo {
  width: 174px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.hero_title {
  font-size: 64px;
  line-height: 1.3;
  font-weight: 700;
  color: #ffffff;
}

.hero_description {
  font-size: 30px;
  line-height: 57px;
  letter-spacing: -1px;
  color: #ffffff;
}

/* 친환경 철학 섹션 */
.philosophy_section {
  background: white;
  padding: 180px 0;
}

.philosophy_content {
  max-width: 1180px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
}

.philosophy_title {
  font-size: 41px;
  letter-spacing: -0.8px;
  line-height: 1.5;
  font-weight: 600;
  color: #000000;
}

.philosophy_text {
  /* 자연스러운 줄바꿈 */
  word-break: keep-all;
  overflow-wrap: break-word;
  hyphens: auto;
  font-size: 20px;
  line-height: 1.9;
  color: #000000;
  font-weight: 400;
}

/* 이미지 섹션 */
.img_banner_section {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-bottom: 180px;
}
.img_banner {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

/* 지속가능한 미래 섹션 */
.sustainable_section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 1000px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.sustainable_content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 33px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.sustainable_title {
  font-size: 64px;
  line-height: 1.3;
  font-weight: 700;
  color: #000000;
}

.sustainable_text p {
  font-size: 30px;
  line-height: 57px;
  letter-spacing: -1px;
  color: #000000;
}

/* 푸터 부분  */
#gbFooter {
  margin-top: 0px !important;
}

.header-menu-container
  .header-menu-wrapper
  .header-menu-layout
  .dropdown-arrow {
  top: 14px !important;
}
.header-menu-container .header-menu-wrapper .header-menu-content {
  top: 20px !important;
}
#gbHeader .menu-header .sub__category li {
  padding: 2px 0 !important;
  width: 100%;
}
